<section class="related">
  <h2>Related Posts</h2>
  <ul class="posts-list">
    {% assign recent_posts = collections.posts | limit: 4 %}
    {% for relatedPost in recent_posts %}
      {% if relatedPost.url != page.url %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ relatedPost.url }}">
            {{ relatedPost.data.title }}
            <small>{{ relatedPost.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
