<!-- Tags list using Eleventy collections -->

<div id="tags-page">
  <div class="tags-list">
    {% for tag in collections.tagList %}
    <a href="#{{ tag | slugify }}" class="tag-link">
      <span class="tag-name">{{ tag }}</span>
      <span class="tag-count">{{ collections.postsByTag[tag] | size }}</span>
    </a>
    {% endfor %}
  </div>

  <hr/>

  <div class="posts-by-tag">
    {% for tag in collections.tagList %}
    <div id="{{ tag | slugify }}" class="posts-for-tag">
      <h2>{{ tag }}</h2>
      <ul class="posts-list">
        {% for tagPost in collections.postsByTag[tag] %}
          <li>
            <h3>
              <a href="{{ site.baseurl }}{{ tagPost.url }}">
                {{ tagPost.data.title }}
                <small>{{ tagPost.date | date_to_string }}</small>
              </a>
            </h3>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>