---
import PageLayout from '@layouts/PageLayout.astro';
---

<PageLayout title="404: Page Not Found">
  <div class="error-page">
    <p>Sorry, the page you're looking for doesn't exist.</p>
    <p>
      Perhaps you'd like to <a href="/">browse our stories</a> or 
      <a href="/search/">search for something specific</a>?
    </p>
  </div>
</PageLayout>
