---
import PageLayout from '@layouts/PageLayout.astro';
import SearchForm from '@components/SearchForm.astro';
---

<PageLayout title="Search">
  <p>Search for stories using Google:</p>
  <SearchForm />
</PageLayout>
