---
interface Props {
  tags?: string[];
}

const { tags } = Astro.props;

function slugify(str: string): string {
  return str.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, '');
}
---

{tags && tags.length > 0 && (
  <div class="post-tags">
    {tags.map((tag) => (
      <a href={`/tags/#${slugify(tag)}`}>
        <span class="icon">
          <svg fill="currentColor" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z"/>
          </svg>
        </span>
        <span class="tag-name">{tag}</span>
      </a>
    ))}
  </div>
)}
