---
layout: default
---

<div class="content">
  {% include "pagination-newer.html" %}

  {{ content }}

  {% for post in pagination.items %}
  <article class="post-body">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.data.title }}
      </a>
    </h2>
    {% include "post-meta.html" %}

    {% if post.data.excerpt %}
      {{ post.data.excerpt }}
    {% else %}
      {{ post.content }}
    {% endif %}

    {% if post.data.excerpt %}
      {% comment %}Excerpt may be equal to content. Check.{% endcomment %}
      {% assign content_words = post.content | number_of_words %}
      {% assign excerpt_words = post.data.excerpt | number_of_words %}

      {% if content_words != excerpt_words %}
        <a href="{{ site.baseurl }}{{ post.url }}">More &hellip;</a>
      {% endif %}
    {% endif %}
  </article>
  {% endfor %}

  {% include "pagination-older.html" %}
</div>